.card{
    border: 2px solid black;
    border-radius: 12%;
    height:400px;
    width: 25%;
    background-size: 100% 100%;
    margin-top: 10px;
}
.card a{
    list-style: none;
    text-decoration: none;
    color: white;
}

#team_names{
    display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.651);
 font-size: 22px;
       margin: 0px 30px
}
#car_name{
        margin-top: 351px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.651);
 font-size: 22px;
 margin-right:30px ;
 margin-left: 30px;

}